<h1 style="text-align:center">Employee Management System</h1>
<hr/>
<div class="d-grid gap-2">
  <a href="/employe/insert" class="btn btn-lg btn-primary">Add Employee</a>
  <a href="/employe/showall" class="btn btn-lg btn-secondary">Show Employee</a>
    <a href="/employe/update" class="btn btn-lg btn-info">Update Employee</a>
      <a href ="/employe/delete" class="btn btn-lg btn-danger">Delete Employee</a>
</div>